// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-element-img-bg-logo-name: 'ElementImg--bgLogo';
$-element-img-bg-logo-x: 1022px;
$-element-img-bg-logo-y: 1132px;
$-element-img-bg-logo-offset-x: -1022px;
$-element-img-bg-logo-offset-y: -1132px;
$-element-img-bg-logo-width: 225px;
$-element-img-bg-logo-height: 66px;
$-element-img-bg-logo-total-width: 1472px;
$-element-img-bg-logo-total-height: 1371px;
$-element-img-bg-logo-image: '../images/sprite.png';
$-element-img-bg-logo: (1022px, 1132px, -1022px, -1132px, 225px, 66px, 1472px, 1371px, '../images/sprite.png', 'ElementImg--bgLogo', );
$-element-img-bg-nav-menu-name: 'ElementImg--bgNav--menu';
$-element-img-bg-nav-menu-x: 902px;
$-element-img-bg-nav-menu-y: 1216px;
$-element-img-bg-nav-menu-offset-x: -902px;
$-element-img-bg-nav-menu-offset-y: -1216px;
$-element-img-bg-nav-menu-width: 160px;
$-element-img-bg-nav-menu-height: 58px;
$-element-img-bg-nav-menu-total-width: 1472px;
$-element-img-bg-nav-menu-total-height: 1371px;
$-element-img-bg-nav-menu-image: '../images/sprite.png';
$-element-img-bg-nav-menu: (902px, 1216px, -902px, -1216px, 160px, 58px, 1472px, 1371px, '../images/sprite.png', 'ElementImg--bgNav--menu', );
$-figure-icon-circles-gradient-name: 'FigureIcon--CirclesGradient';
$-figure-icon-circles-gradient-x: 665px;
$-figure-icon-circles-gradient-y: 707px;
$-figure-icon-circles-gradient-offset-x: -665px;
$-figure-icon-circles-gradient-offset-y: -707px;
$-figure-icon-circles-gradient-width: 548px;
$-figure-icon-circles-gradient-height: 354px;
$-figure-icon-circles-gradient-total-width: 1472px;
$-figure-icon-circles-gradient-total-height: 1371px;
$-figure-icon-circles-gradient-image: '../images/sprite.png';
$-figure-icon-circles-gradient: (665px, 707px, -665px, -707px, 548px, 354px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--CirclesGradient', );
$-figure-icon-hamburger-name: 'FigureIcon--hamburger';
$-figure-icon-hamburger-x: 665px;
$-figure-icon-hamburger-y: 1216px;
$-figure-icon-hamburger-offset-x: -665px;
$-figure-icon-hamburger-offset-y: -1216px;
$-figure-icon-hamburger-width: 120px;
$-figure-icon-hamburger-height: 114px;
$-figure-icon-hamburger-total-width: 1472px;
$-figure-icon-hamburger-total-height: 1371px;
$-figure-icon-hamburger-image: '../images/sprite.png';
$-figure-icon-hamburger: (665px, 1216px, -665px, -1216px, 120px, 114px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--hamburger', );
$-figure-icon-network-name: 'FigureIcon--network';
$-figure-icon-network-x: 1213px;
$-figure-icon-network-y: 707px;
$-figure-icon-network-offset-x: -1213px;
$-figure-icon-network-offset-y: -707px;
$-figure-icon-network-width: 124px;
$-figure-icon-network-height: 126px;
$-figure-icon-network-total-width: 1472px;
$-figure-icon-network-total-height: 1371px;
$-figure-icon-network-image: '../images/sprite.png';
$-figure-icon-network: (1213px, 707px, -1213px, -707px, 124px, 126px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--network', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 1396px;
$-figure-icon-newsletter-y: 119px;
$-figure-icon-newsletter-offset-x: -1396px;
$-figure-icon-newsletter-offset-y: -119px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 1472px;
$-figure-icon-newsletter-total-height: 1371px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (1396px, 119px, -1396px, -119px, 53px, 50px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-report-name: 'FigureIcon--report';
$-figure-icon-report-x: 1213px;
$-figure-icon-report-y: 833px;
$-figure-icon-report-offset-x: -1213px;
$-figure-icon-report-offset-y: -833px;
$-figure-icon-report-width: 119px;
$-figure-icon-report-height: 120px;
$-figure-icon-report-total-width: 1472px;
$-figure-icon-report-total-height: 1371px;
$-figure-icon-report-image: '../images/sprite.png';
$-figure-icon-report: (1213px, 833px, -1213px, -833px, 119px, 120px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--report', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 1247px;
$-figure-icon-send-y: 1132px;
$-figure-icon-send-offset-x: -1247px;
$-figure-icon-send-offset-y: -1132px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 1472px;
$-figure-icon-send-total-height: 1371px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (1247px, 1132px, -1247px, -1132px, 85px, 52px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--send', );
$-figure-icon-trofeu-name: 'FigureIcon--trofeu';
$-figure-icon-trofeu-x: 785px;
$-figure-icon-trofeu-y: 1216px;
$-figure-icon-trofeu-offset-x: -785px;
$-figure-icon-trofeu-offset-y: -1216px;
$-figure-icon-trofeu-width: 117px;
$-figure-icon-trofeu-height: 114px;
$-figure-icon-trofeu-total-width: 1472px;
$-figure-icon-trofeu-total-height: 1371px;
$-figure-icon-trofeu-image: '../images/sprite.png';
$-figure-icon-trofeu: (785px, 1216px, -785px, -1216px, 117px, 114px, 1472px, 1371px, '../images/sprite.png', 'FigureIcon--trofeu', );
$-img-figure-franquia-first-name: 'ImgFigure--franquia--first';
$-img-figure-franquia-first-x: 715px;
$-img-figure-franquia-first-y: 0px;
$-img-figure-franquia-first-offset-x: -715px;
$-img-figure-franquia-first-offset-y: 0px;
$-img-figure-franquia-first-width: 681px;
$-img-figure-franquia-first-height: 707px;
$-img-figure-franquia-first-total-width: 1472px;
$-img-figure-franquia-first-total-height: 1371px;
$-img-figure-franquia-first-image: '../images/sprite.png';
$-img-figure-franquia-first: (715px, 0px, -715px, 0px, 681px, 707px, 1472px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--first', );
$-img-figure-franquia-flyer-vert-name: 'ImgFigure--franquia--flyer--vert';
$-img-figure-franquia-flyer-vert-x: 1396px;
$-img-figure-franquia-flyer-vert-y: 0px;
$-img-figure-franquia-flyer-vert-offset-x: -1396px;
$-img-figure-franquia-flyer-vert-offset-y: 0px;
$-img-figure-franquia-flyer-vert-width: 76px;
$-img-figure-franquia-flyer-vert-height: 119px;
$-img-figure-franquia-flyer-vert-total-width: 1472px;
$-img-figure-franquia-flyer-vert-total-height: 1371px;
$-img-figure-franquia-flyer-vert-image: '../images/sprite.png';
$-img-figure-franquia-flyer-vert: (1396px, 0px, -1396px, 0px, 76px, 119px, 1472px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--flyer--vert', );
$-img-figure-franquia-flyer-name: 'ImgFigure--franquia--flyer';
$-img-figure-franquia-flyer-x: 1213px;
$-img-figure-franquia-flyer-y: 953px;
$-img-figure-franquia-flyer-offset-x: -1213px;
$-img-figure-franquia-flyer-offset-y: -953px;
$-img-figure-franquia-flyer-width: 107px;
$-img-figure-franquia-flyer-height: 92px;
$-img-figure-franquia-flyer-total-width: 1472px;
$-img-figure-franquia-flyer-total-height: 1371px;
$-img-figure-franquia-flyer-image: '../images/sprite.png';
$-img-figure-franquia-flyer: (1213px, 953px, -1213px, -953px, 107px, 92px, 1472px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--flyer', );
$-img-figure-franquia-second-name: 'ImgFigure--franquia--second';
$-img-figure-franquia-second-x: 0px;
$-img-figure-franquia-second-y: 0px;
$-img-figure-franquia-second-offset-x: 0px;
$-img-figure-franquia-second-offset-y: 0px;
$-img-figure-franquia-second-width: 715px;
$-img-figure-franquia-second-height: 707px;
$-img-figure-franquia-second-total-width: 1472px;
$-img-figure-franquia-second-total-height: 1371px;
$-img-figure-franquia-second-image: '../images/sprite.png';
$-img-figure-franquia-second: (0px, 0px, 0px, 0px, 715px, 707px, 1472px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--second', );
$-img-figure-franquia-third-name: 'ImgFigure--franquia--third';
$-img-figure-franquia-third-x: 0px;
$-img-figure-franquia-third-y: 707px;
$-img-figure-franquia-third-offset-x: 0px;
$-img-figure-franquia-third-offset-y: -707px;
$-img-figure-franquia-third-width: 665px;
$-img-figure-franquia-third-height: 664px;
$-img-figure-franquia-third-total-width: 1472px;
$-img-figure-franquia-third-total-height: 1371px;
$-img-figure-franquia-third-image: '../images/sprite.png';
$-img-figure-franquia-third: (0px, 707px, 0px, -707px, 665px, 664px, 1472px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--third', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 1022px;
$-intro-name-vignoli-y: 1061px;
$-intro-name-vignoli-offset-x: -1022px;
$-intro-name-vignoli-offset-y: -1061px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 1472px;
$-intro-name-vignoli-total-height: 1371px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (1022px, 1061px, -1022px, -1061px, 308px, 71px, 1472px, 1371px, '../images/sprite.png', 'Intro--nameVignoli', );
$-logo-base-name: 'LogoBase';
$-logo-base-x: 665px;
$-logo-base-y: 1061px;
$-logo-base-offset-x: -665px;
$-logo-base-offset-y: -1061px;
$-logo-base-width: 357px;
$-logo-base-height: 155px;
$-logo-base-total-width: 1472px;
$-logo-base-total-height: 1371px;
$-logo-base-image: '../images/sprite.png';
$-logo-base: (665px, 1061px, -665px, -1061px, 357px, 155px, 1472px, 1371px, '../images/sprite.png', 'LogoBase', );
$-shadow-box-bottom-name: 'ShadowBox--bottom';
$-shadow-box-bottom-x: 1062px;
$-shadow-box-bottom-y: 1216px;
$-shadow-box-bottom-offset-x: -1062px;
$-shadow-box-bottom-offset-y: -1216px;
$-shadow-box-bottom-width: 293px;
$-shadow-box-bottom-height: 30px;
$-shadow-box-bottom-total-width: 1472px;
$-shadow-box-bottom-total-height: 1371px;
$-shadow-box-bottom-image: '../images/sprite.png';
$-shadow-box-bottom: (1062px, 1216px, -1062px, -1216px, 293px, 30px, 1472px, 1371px, '../images/sprite.png', 'ShadowBox--bottom', );
$-shadow-box-tab-left-footer-name: 'ShadowBox--tabLeft--footer';
$-shadow-box-tab-left-footer-x: 1062px;
$-shadow-box-tab-left-footer-y: 1246px;
$-shadow-box-tab-left-footer-offset-x: -1062px;
$-shadow-box-tab-left-footer-offset-y: -1246px;
$-shadow-box-tab-left-footer-width: 113px;
$-shadow-box-tab-left-footer-height: 26px;
$-shadow-box-tab-left-footer-total-width: 1472px;
$-shadow-box-tab-left-footer-total-height: 1371px;
$-shadow-box-tab-left-footer-image: '../images/sprite.png';
$-shadow-box-tab-left-footer: (1062px, 1246px, -1062px, -1246px, 113px, 26px, 1472px, 1371px, '../images/sprite.png', 'ShadowBox--tabLeft--footer', );
$-shadow-box-tab-left-name: 'ShadowBox--tabLeft';
$-shadow-box-tab-left-x: 1396px;
$-shadow-box-tab-left-y: 169px;
$-shadow-box-tab-left-offset-x: -1396px;
$-shadow-box-tab-left-offset-y: -169px;
$-shadow-box-tab-left-width: 19px;
$-shadow-box-tab-left-height: 113px;
$-shadow-box-tab-left-total-width: 1472px;
$-shadow-box-tab-left-total-height: 1371px;
$-shadow-box-tab-left-image: '../images/sprite.png';
$-shadow-box-tab-left: (1396px, 169px, -1396px, -169px, 19px, 113px, 1472px, 1371px, '../images/sprite.png', 'ShadowBox--tabLeft', );
$-shadow-box-tab-right-footer-name: 'ShadowBox--tabRight--footer';
$-shadow-box-tab-right-footer-x: 1175px;
$-shadow-box-tab-right-footer-y: 1246px;
$-shadow-box-tab-right-footer-offset-x: -1175px;
$-shadow-box-tab-right-footer-offset-y: -1246px;
$-shadow-box-tab-right-footer-width: 113px;
$-shadow-box-tab-right-footer-height: 26px;
$-shadow-box-tab-right-footer-total-width: 1472px;
$-shadow-box-tab-right-footer-total-height: 1371px;
$-shadow-box-tab-right-footer-image: '../images/sprite.png';
$-shadow-box-tab-right-footer: (1175px, 1246px, -1175px, -1246px, 113px, 26px, 1472px, 1371px, '../images/sprite.png', 'ShadowBox--tabRight--footer', );
$-shadow-box-tab-right-name: 'ShadowBox--tabRight';
$-shadow-box-tab-right-x: 1415px;
$-shadow-box-tab-right-y: 169px;
$-shadow-box-tab-right-offset-x: -1415px;
$-shadow-box-tab-right-offset-y: -169px;
$-shadow-box-tab-right-width: 19px;
$-shadow-box-tab-right-height: 113px;
$-shadow-box-tab-right-total-width: 1472px;
$-shadow-box-tab-right-total-height: 1371px;
$-shadow-box-tab-right-image: '../images/sprite.png';
$-shadow-box-tab-right: (1415px, 169px, -1415px, -169px, 19px, 113px, 1472px, 1371px, '../images/sprite.png', 'ShadowBox--tabRight', );
$border-box-gadient-name: 'borderBox--gadient';
$border-box-gadient-x: 1022px;
$border-box-gadient-y: 1198px;
$border-box-gadient-offset-x: -1022px;
$border-box-gadient-offset-y: -1198px;
$border-box-gadient-width: 290px;
$border-box-gadient-height: 1px;
$border-box-gadient-total-width: 1472px;
$border-box-gadient-total-height: 1371px;
$border-box-gadient-image: '../images/sprite.png';
$border-box-gadient: (1022px, 1198px, -1022px, -1198px, 290px, 1px, 1472px, 1371px, '../images/sprite.png', 'borderBox--gadient', );
$spritesheet-width: 1472px;
$spritesheet-height: 1371px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-element-img-bg-logo, $-element-img-bg-nav-menu, $-figure-icon-circles-gradient, $-figure-icon-hamburger, $-figure-icon-network, $-figure-icon-newsletter, $-figure-icon-report, $-figure-icon-send, $-figure-icon-trofeu, $-img-figure-franquia-first, $-img-figure-franquia-flyer-vert, $-img-figure-franquia-flyer, $-img-figure-franquia-second, $-img-figure-franquia-third, $-intro-name-vignoli, $-logo-base, $-shadow-box-bottom, $-shadow-box-tab-left-footer, $-shadow-box-tab-left, $-shadow-box-tab-right-footer, $-shadow-box-tab-right, $border-box-gadient, );
$spritesheet: (1472px, 1371px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
