// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-element-img-bg-logo-name: 'ElementImg--bgLogo';
$-element-img-bg-logo-x: 1022px;
$-element-img-bg-logo-y: 778px;
$-element-img-bg-logo-offset-x: -1022px;
$-element-img-bg-logo-offset-y: -778px;
$-element-img-bg-logo-width: 225px;
$-element-img-bg-logo-height: 66px;
$-element-img-bg-logo-total-width: 1396px;
$-element-img-bg-logo-total-height: 1371px;
$-element-img-bg-logo-image: '../images/sprite.png';
$-element-img-bg-logo: (1022px, 778px, -1022px, -778px, 225px, 66px, 1396px, 1371px, '../images/sprite.png', 'ElementImg--bgLogo', );
$-element-img-bg-nav-menu-name: 'ElementImg--bgNav--menu';
$-element-img-bg-nav-menu-x: 772px;
$-element-img-bg-nav-menu-y: 862px;
$-element-img-bg-nav-menu-offset-x: -772px;
$-element-img-bg-nav-menu-offset-y: -862px;
$-element-img-bg-nav-menu-width: 160px;
$-element-img-bg-nav-menu-height: 58px;
$-element-img-bg-nav-menu-total-width: 1396px;
$-element-img-bg-nav-menu-total-height: 1371px;
$-element-img-bg-nav-menu-image: '../images/sprite.png';
$-element-img-bg-nav-menu: (772px, 862px, -772px, -862px, 160px, 58px, 1396px, 1371px, '../images/sprite.png', 'ElementImg--bgNav--menu', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 1330px;
$-figure-icon-newsletter-y: 707px;
$-figure-icon-newsletter-offset-x: -1330px;
$-figure-icon-newsletter-offset-y: -707px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 1396px;
$-figure-icon-newsletter-total-height: 1371px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (1330px, 707px, -1330px, -707px, 53px, 50px, 1396px, 1371px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 1247px;
$-figure-icon-send-y: 778px;
$-figure-icon-send-offset-x: -1247px;
$-figure-icon-send-offset-y: -778px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 1396px;
$-figure-icon-send-total-height: 1371px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (1247px, 778px, -1247px, -778px, 85px, 52px, 1396px, 1371px, '../images/sprite.png', 'FigureIcon--send', );
$-img-figure-franquia-first-name: 'ImgFigure--franquia--first';
$-img-figure-franquia-first-x: 715px;
$-img-figure-franquia-first-y: 0px;
$-img-figure-franquia-first-offset-x: -715px;
$-img-figure-franquia-first-offset-y: 0px;
$-img-figure-franquia-first-width: 681px;
$-img-figure-franquia-first-height: 707px;
$-img-figure-franquia-first-total-width: 1396px;
$-img-figure-franquia-first-total-height: 1371px;
$-img-figure-franquia-first-image: '../images/sprite.png';
$-img-figure-franquia-first: (715px, 0px, -715px, 0px, 681px, 707px, 1396px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--first', );
$-img-figure-franquia-flyer-name: 'ImgFigure--franquia--flyer';
$-img-figure-franquia-flyer-x: 665px;
$-img-figure-franquia-flyer-y: 862px;
$-img-figure-franquia-flyer-offset-x: -665px;
$-img-figure-franquia-flyer-offset-y: -862px;
$-img-figure-franquia-flyer-width: 107px;
$-img-figure-franquia-flyer-height: 92px;
$-img-figure-franquia-flyer-total-width: 1396px;
$-img-figure-franquia-flyer-total-height: 1371px;
$-img-figure-franquia-flyer-image: '../images/sprite.png';
$-img-figure-franquia-flyer: (665px, 862px, -665px, -862px, 107px, 92px, 1396px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--flyer', );
$-img-figure-franquia-second-name: 'ImgFigure--franquia--second';
$-img-figure-franquia-second-x: 0px;
$-img-figure-franquia-second-y: 0px;
$-img-figure-franquia-second-offset-x: 0px;
$-img-figure-franquia-second-offset-y: 0px;
$-img-figure-franquia-second-width: 715px;
$-img-figure-franquia-second-height: 707px;
$-img-figure-franquia-second-total-width: 1396px;
$-img-figure-franquia-second-total-height: 1371px;
$-img-figure-franquia-second-image: '../images/sprite.png';
$-img-figure-franquia-second: (0px, 0px, 0px, 0px, 715px, 707px, 1396px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--second', );
$-img-figure-franquia-third-name: 'ImgFigure--franquia--third';
$-img-figure-franquia-third-x: 0px;
$-img-figure-franquia-third-y: 707px;
$-img-figure-franquia-third-offset-x: 0px;
$-img-figure-franquia-third-offset-y: -707px;
$-img-figure-franquia-third-width: 665px;
$-img-figure-franquia-third-height: 664px;
$-img-figure-franquia-third-total-width: 1396px;
$-img-figure-franquia-third-total-height: 1371px;
$-img-figure-franquia-third-image: '../images/sprite.png';
$-img-figure-franquia-third: (0px, 707px, 0px, -707px, 665px, 664px, 1396px, 1371px, '../images/sprite.png', 'ImgFigure--franquia--third', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 1022px;
$-intro-name-vignoli-y: 707px;
$-intro-name-vignoli-offset-x: -1022px;
$-intro-name-vignoli-offset-y: -707px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 1396px;
$-intro-name-vignoli-total-height: 1371px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (1022px, 707px, -1022px, -707px, 308px, 71px, 1396px, 1371px, '../images/sprite.png', 'Intro--nameVignoli', );
$-logo-base-name: 'LogoBase';
$-logo-base-x: 665px;
$-logo-base-y: 707px;
$-logo-base-offset-x: -665px;
$-logo-base-offset-y: -707px;
$-logo-base-width: 357px;
$-logo-base-height: 155px;
$-logo-base-total-width: 1396px;
$-logo-base-total-height: 1371px;
$-logo-base-image: '../images/sprite.png';
$-logo-base: (665px, 707px, -665px, -707px, 357px, 155px, 1396px, 1371px, '../images/sprite.png', 'LogoBase', );
$-shadow-box-bottom-name: 'ShadowBox--bottom';
$-shadow-box-bottom-x: 932px;
$-shadow-box-bottom-y: 862px;
$-shadow-box-bottom-offset-x: -932px;
$-shadow-box-bottom-offset-y: -862px;
$-shadow-box-bottom-width: 293px;
$-shadow-box-bottom-height: 30px;
$-shadow-box-bottom-total-width: 1396px;
$-shadow-box-bottom-total-height: 1371px;
$-shadow-box-bottom-image: '../images/sprite.png';
$-shadow-box-bottom: (932px, 862px, -932px, -862px, 293px, 30px, 1396px, 1371px, '../images/sprite.png', 'ShadowBox--bottom', );
$-shadow-box-tab-left-footer-name: 'ShadowBox--tabLeft--footer';
$-shadow-box-tab-left-footer-x: 1225px;
$-shadow-box-tab-left-footer-y: 862px;
$-shadow-box-tab-left-footer-offset-x: -1225px;
$-shadow-box-tab-left-footer-offset-y: -862px;
$-shadow-box-tab-left-footer-width: 113px;
$-shadow-box-tab-left-footer-height: 26px;
$-shadow-box-tab-left-footer-total-width: 1396px;
$-shadow-box-tab-left-footer-total-height: 1371px;
$-shadow-box-tab-left-footer-image: '../images/sprite.png';
$-shadow-box-tab-left-footer: (1225px, 862px, -1225px, -862px, 113px, 26px, 1396px, 1371px, '../images/sprite.png', 'ShadowBox--tabLeft--footer', );
$-shadow-box-tab-left-name: 'ShadowBox--tabLeft';
$-shadow-box-tab-left-x: 665px;
$-shadow-box-tab-left-y: 954px;
$-shadow-box-tab-left-offset-x: -665px;
$-shadow-box-tab-left-offset-y: -954px;
$-shadow-box-tab-left-width: 19px;
$-shadow-box-tab-left-height: 113px;
$-shadow-box-tab-left-total-width: 1396px;
$-shadow-box-tab-left-total-height: 1371px;
$-shadow-box-tab-left-image: '../images/sprite.png';
$-shadow-box-tab-left: (665px, 954px, -665px, -954px, 19px, 113px, 1396px, 1371px, '../images/sprite.png', 'ShadowBox--tabLeft', );
$-shadow-box-tab-right-footer-name: 'ShadowBox--tabRight--footer';
$-shadow-box-tab-right-footer-x: 932px;
$-shadow-box-tab-right-footer-y: 892px;
$-shadow-box-tab-right-footer-offset-x: -932px;
$-shadow-box-tab-right-footer-offset-y: -892px;
$-shadow-box-tab-right-footer-width: 113px;
$-shadow-box-tab-right-footer-height: 26px;
$-shadow-box-tab-right-footer-total-width: 1396px;
$-shadow-box-tab-right-footer-total-height: 1371px;
$-shadow-box-tab-right-footer-image: '../images/sprite.png';
$-shadow-box-tab-right-footer: (932px, 892px, -932px, -892px, 113px, 26px, 1396px, 1371px, '../images/sprite.png', 'ShadowBox--tabRight--footer', );
$-shadow-box-tab-right-name: 'ShadowBox--tabRight';
$-shadow-box-tab-right-x: 684px;
$-shadow-box-tab-right-y: 954px;
$-shadow-box-tab-right-offset-x: -684px;
$-shadow-box-tab-right-offset-y: -954px;
$-shadow-box-tab-right-width: 19px;
$-shadow-box-tab-right-height: 113px;
$-shadow-box-tab-right-total-width: 1396px;
$-shadow-box-tab-right-total-height: 1371px;
$-shadow-box-tab-right-image: '../images/sprite.png';
$-shadow-box-tab-right: (684px, 954px, -684px, -954px, 19px, 113px, 1396px, 1371px, '../images/sprite.png', 'ShadowBox--tabRight', );
$border-box-gadient-name: 'borderBox--gadient';
$border-box-gadient-x: 1022px;
$border-box-gadient-y: 844px;
$border-box-gadient-offset-x: -1022px;
$border-box-gadient-offset-y: -844px;
$border-box-gadient-width: 290px;
$border-box-gadient-height: 1px;
$border-box-gadient-total-width: 1396px;
$border-box-gadient-total-height: 1371px;
$border-box-gadient-image: '../images/sprite.png';
$border-box-gadient: (1022px, 844px, -1022px, -844px, 290px, 1px, 1396px, 1371px, '../images/sprite.png', 'borderBox--gadient', );
$spritesheet-width: 1396px;
$spritesheet-height: 1371px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-element-img-bg-logo, $-element-img-bg-nav-menu, $-figure-icon-newsletter, $-figure-icon-send, $-img-figure-franquia-first, $-img-figure-franquia-flyer, $-img-figure-franquia-second, $-img-figure-franquia-third, $-intro-name-vignoli, $-logo-base, $-shadow-box-bottom, $-shadow-box-tab-left-footer, $-shadow-box-tab-left, $-shadow-box-tab-right-footer, $-shadow-box-tab-right, $border-box-gadient, );
$spritesheet: (1396px, 1371px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
