// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-element-img-bg-logo-name: 'ElementImg--bgLogo';
$-element-img-bg-logo-x: 1738px;
$-element-img-bg-logo-y: 1328px;
$-element-img-bg-logo-offset-x: -1738px;
$-element-img-bg-logo-offset-y: -1328px;
$-element-img-bg-logo-width: 225px;
$-element-img-bg-logo-height: 66px;
$-element-img-bg-logo-total-width: 2095px;
$-element-img-bg-logo-total-height: 1768px;
$-element-img-bg-logo-image: '../images/sprite.png';
$-element-img-bg-logo: (1738px, 1328px, -1738px, -1328px, 225px, 66px, 2095px, 1768px, '../images/sprite.png', 'ElementImg--bgLogo', );
$-element-img-bg-nav-menu-name: 'ElementImg--bgNav--menu';
$-element-img-bg-nav-menu-x: 1824px;
$-element-img-bg-nav-menu-y: 1414px;
$-element-img-bg-nav-menu-offset-x: -1824px;
$-element-img-bg-nav-menu-offset-y: -1414px;
$-element-img-bg-nav-menu-width: 160px;
$-element-img-bg-nav-menu-height: 58px;
$-element-img-bg-nav-menu-total-width: 2095px;
$-element-img-bg-nav-menu-total-height: 1768px;
$-element-img-bg-nav-menu-image: '../images/sprite.png';
$-element-img-bg-nav-menu: (1824px, 1414px, -1824px, -1414px, 160px, 58px, 2095px, 1768px, '../images/sprite.png', 'ElementImg--bgNav--menu', );
$-figure-icon-circles-gradient-name: 'FigureIcon--CirclesGradient';
$-figure-icon-circles-gradient-x: 0px;
$-figure-icon-circles-gradient-y: 1414px;
$-figure-icon-circles-gradient-offset-x: 0px;
$-figure-icon-circles-gradient-offset-y: -1414px;
$-figure-icon-circles-gradient-width: 548px;
$-figure-icon-circles-gradient-height: 354px;
$-figure-icon-circles-gradient-total-width: 2095px;
$-figure-icon-circles-gradient-total-height: 1768px;
$-figure-icon-circles-gradient-image: '../images/sprite.png';
$-figure-icon-circles-gradient: (0px, 1414px, 0px, -1414px, 548px, 354px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--CirclesGradient', );
$-figure-icon-hamburger-name: 'FigureIcon--hamburger';
$-figure-icon-hamburger-x: 1386px;
$-figure-icon-hamburger-y: 1414px;
$-figure-icon-hamburger-offset-x: -1386px;
$-figure-icon-hamburger-offset-y: -1414px;
$-figure-icon-hamburger-width: 120px;
$-figure-icon-hamburger-height: 114px;
$-figure-icon-hamburger-total-width: 2095px;
$-figure-icon-hamburger-total-height: 1768px;
$-figure-icon-hamburger-image: '../images/sprite.png';
$-figure-icon-hamburger: (1386px, 1414px, -1386px, -1414px, 120px, 114px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--hamburger', );
$-figure-icon-network-name: 'FigureIcon--network';
$-figure-icon-network-x: 1143px;
$-figure-icon-network-y: 1414px;
$-figure-icon-network-offset-x: -1143px;
$-figure-icon-network-offset-y: -1414px;
$-figure-icon-network-width: 124px;
$-figure-icon-network-height: 126px;
$-figure-icon-network-total-width: 2095px;
$-figure-icon-network-total-height: 1768px;
$-figure-icon-network-image: '../images/sprite.png';
$-figure-icon-network: (1143px, 1414px, -1143px, -1414px, 124px, 126px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--network', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 1362px;
$-figure-icon-newsletter-y: 707px;
$-figure-icon-newsletter-offset-x: -1362px;
$-figure-icon-newsletter-offset-y: -707px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 2095px;
$-figure-icon-newsletter-total-height: 1768px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (1362px, 707px, -1362px, -707px, 53px, 50px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-report-name: 'FigureIcon--report';
$-figure-icon-report-x: 1267px;
$-figure-icon-report-y: 1414px;
$-figure-icon-report-offset-x: -1267px;
$-figure-icon-report-offset-y: -1414px;
$-figure-icon-report-width: 119px;
$-figure-icon-report-height: 120px;
$-figure-icon-report-total-width: 2095px;
$-figure-icon-report-total-height: 1768px;
$-figure-icon-report-image: '../images/sprite.png';
$-figure-icon-report: (1267px, 1414px, -1267px, -1414px, 119px, 120px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--report', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 1963px;
$-figure-icon-send-y: 1328px;
$-figure-icon-send-offset-x: -1963px;
$-figure-icon-send-offset-y: -1328px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 2095px;
$-figure-icon-send-total-height: 1768px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (1963px, 1328px, -1963px, -1328px, 85px, 52px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--send', );
$-figure-icon-trofeu-name: 'FigureIcon--trofeu';
$-figure-icon-trofeu-x: 1506px;
$-figure-icon-trofeu-y: 1414px;
$-figure-icon-trofeu-offset-x: -1506px;
$-figure-icon-trofeu-offset-y: -1414px;
$-figure-icon-trofeu-width: 117px;
$-figure-icon-trofeu-height: 114px;
$-figure-icon-trofeu-total-width: 2095px;
$-figure-icon-trofeu-total-height: 1768px;
$-figure-icon-trofeu-image: '../images/sprite.png';
$-figure-icon-trofeu: (1506px, 1414px, -1506px, -1414px, 117px, 114px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--trofeu', );
$-figure-icon-video-name: 'FigureIcon--video';
$-figure-icon-video-x: 2048px;
$-figure-icon-video-y: 1328px;
$-figure-icon-video-offset-x: -2048px;
$-figure-icon-video-offset-y: -1328px;
$-figure-icon-video-width: 46px;
$-figure-icon-video-height: 36px;
$-figure-icon-video-total-width: 2095px;
$-figure-icon-video-total-height: 1768px;
$-figure-icon-video-image: '../images/sprite.png';
$-figure-icon-video: (2048px, 1328px, -2048px, -1328px, 46px, 36px, 2095px, 1768px, '../images/sprite.png', 'FigureIcon--video', );
$-img-figure-flyer-bi-color-name: 'ImgFigure--flyer--biColor';
$-img-figure-flyer-bi-color-x: 1623px;
$-img-figure-flyer-bi-color-y: 1414px;
$-img-figure-flyer-bi-color-offset-x: -1623px;
$-img-figure-flyer-bi-color-offset-y: -1414px;
$-img-figure-flyer-bi-color-width: 94px;
$-img-figure-flyer-bi-color-height: 106px;
$-img-figure-flyer-bi-color-total-width: 2095px;
$-img-figure-flyer-bi-color-total-height: 1768px;
$-img-figure-flyer-bi-color-image: '../images/sprite.png';
$-img-figure-flyer-bi-color: (1623px, 1414px, -1623px, -1414px, 94px, 106px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--flyer--biColor', );
$-img-figure-flyer-vert-name: 'ImgFigure--flyer--vert';
$-img-figure-flyer-vert-x: 786px;
$-img-figure-flyer-vert-y: 1569px;
$-img-figure-flyer-vert-offset-x: -786px;
$-img-figure-flyer-vert-offset-y: -1569px;
$-img-figure-flyer-vert-width: 76px;
$-img-figure-flyer-vert-height: 119px;
$-img-figure-flyer-vert-total-width: 2095px;
$-img-figure-flyer-vert-total-height: 1768px;
$-img-figure-flyer-vert-image: '../images/sprite.png';
$-img-figure-flyer-vert: (786px, 1569px, -786px, -1569px, 76px, 119px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--flyer--vert', );
$-img-figure-flyer-name: 'ImgFigure--flyer';
$-img-figure-flyer-x: 1717px;
$-img-figure-flyer-y: 1414px;
$-img-figure-flyer-offset-x: -1717px;
$-img-figure-flyer-offset-y: -1414px;
$-img-figure-flyer-width: 107px;
$-img-figure-flyer-height: 92px;
$-img-figure-flyer-total-width: 2095px;
$-img-figure-flyer-total-height: 1768px;
$-img-figure-flyer-image: '../images/sprite.png';
$-img-figure-flyer: (1717px, 1414px, -1717px, -1414px, 107px, 92px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--flyer', );
$-img-figure-left-direction-name: 'ImgFigure--leftDirection';
$-img-figure-left-direction-x: 1430px;
$-img-figure-left-direction-y: 0px;
$-img-figure-left-direction-offset-x: -1430px;
$-img-figure-left-direction-offset-y: 0px;
$-img-figure-left-direction-width: 665px;
$-img-figure-left-direction-height: 664px;
$-img-figure-left-direction-total-width: 2095px;
$-img-figure-left-direction-total-height: 1768px;
$-img-figure-left-direction-image: '../images/sprite.png';
$-img-figure-left-direction: (1430px, 0px, -1430px, 0px, 665px, 664px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--leftDirection', );
$-img-figure-main-depoimento-sample-mobile-name: 'ImgFigure--main--depoimentoSample--mobile';
$-img-figure-main-depoimento-sample-mobile-x: 548px;
$-img-figure-main-depoimento-sample-mobile-y: 1414px;
$-img-figure-main-depoimento-sample-mobile-offset-x: -548px;
$-img-figure-main-depoimento-sample-mobile-offset-y: -1414px;
$-img-figure-main-depoimento-sample-mobile-width: 238px;
$-img-figure-main-depoimento-sample-mobile-height: 299px;
$-img-figure-main-depoimento-sample-mobile-total-width: 2095px;
$-img-figure-main-depoimento-sample-mobile-total-height: 1768px;
$-img-figure-main-depoimento-sample-mobile-image: '../images/sprite.png';
$-img-figure-main-depoimento-sample-mobile: (548px, 1414px, -548px, -1414px, 238px, 299px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--main--depoimentoSample--mobile', );
$-img-figure-main-depoimento-sample-name: 'ImgFigure--main--depoimentoSample';
$-img-figure-main-depoimento-sample-x: 0px;
$-img-figure-main-depoimento-sample-y: 707px;
$-img-figure-main-depoimento-sample-offset-x: 0px;
$-img-figure-main-depoimento-sample-offset-y: -707px;
$-img-figure-main-depoimento-sample-width: 681px;
$-img-figure-main-depoimento-sample-height: 707px;
$-img-figure-main-depoimento-sample-total-width: 2095px;
$-img-figure-main-depoimento-sample-total-height: 1768px;
$-img-figure-main-depoimento-sample-image: '../images/sprite.png';
$-img-figure-main-depoimento-sample: (0px, 707px, 0px, -707px, 681px, 707px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--main--depoimentoSample', );
$-img-figure-main-right-direction-name: 'ImgFigure--main--rightDirection';
$-img-figure-main-right-direction-x: 681px;
$-img-figure-main-right-direction-y: 707px;
$-img-figure-main-right-direction-offset-x: -681px;
$-img-figure-main-right-direction-offset-y: -707px;
$-img-figure-main-right-direction-width: 681px;
$-img-figure-main-right-direction-height: 707px;
$-img-figure-main-right-direction-total-width: 2095px;
$-img-figure-main-right-direction-total-height: 1768px;
$-img-figure-main-right-direction-image: '../images/sprite.png';
$-img-figure-main-right-direction: (681px, 707px, -681px, -707px, 681px, 707px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--main--rightDirection', );
$-img-figure-right-direction-name: 'ImgFigure--rightDirection';
$-img-figure-right-direction-x: 1430px;
$-img-figure-right-direction-y: 664px;
$-img-figure-right-direction-offset-x: -1430px;
$-img-figure-right-direction-offset-y: -664px;
$-img-figure-right-direction-width: 665px;
$-img-figure-right-direction-height: 664px;
$-img-figure-right-direction-total-width: 2095px;
$-img-figure-right-direction-total-height: 1768px;
$-img-figure-right-direction-image: '../images/sprite.png';
$-img-figure-right-direction: (1430px, 664px, -1430px, -664px, 665px, 664px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--rightDirection', );
$-img-figure-top-left-direction-name: 'ImgFigure--topLeftDirection';
$-img-figure-top-left-direction-x: 715px;
$-img-figure-top-left-direction-y: 0px;
$-img-figure-top-left-direction-offset-x: -715px;
$-img-figure-top-left-direction-offset-y: 0px;
$-img-figure-top-left-direction-width: 715px;
$-img-figure-top-left-direction-height: 707px;
$-img-figure-top-left-direction-total-width: 2095px;
$-img-figure-top-left-direction-total-height: 1768px;
$-img-figure-top-left-direction-image: '../images/sprite.png';
$-img-figure-top-left-direction: (715px, 0px, -715px, 0px, 715px, 707px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--topLeftDirection', );
$-img-figure-top-right-direction-name: 'ImgFigure--topRightDirection';
$-img-figure-top-right-direction-x: 0px;
$-img-figure-top-right-direction-y: 0px;
$-img-figure-top-right-direction-offset-x: 0px;
$-img-figure-top-right-direction-offset-y: 0px;
$-img-figure-top-right-direction-width: 715px;
$-img-figure-top-right-direction-height: 707px;
$-img-figure-top-right-direction-total-width: 2095px;
$-img-figure-top-right-direction-total-height: 1768px;
$-img-figure-top-right-direction-image: '../images/sprite.png';
$-img-figure-top-right-direction: (0px, 0px, 0px, 0px, 715px, 707px, 2095px, 1768px, '../images/sprite.png', 'ImgFigure--topRightDirection', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 1430px;
$-intro-name-vignoli-y: 1328px;
$-intro-name-vignoli-offset-x: -1430px;
$-intro-name-vignoli-offset-y: -1328px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 2095px;
$-intro-name-vignoli-total-height: 1768px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (1430px, 1328px, -1430px, -1328px, 308px, 71px, 2095px, 1768px, '../images/sprite.png', 'Intro--nameVignoli', );
$-logo-base-name: 'LogoBase';
$-logo-base-x: 786px;
$-logo-base-y: 1414px;
$-logo-base-offset-x: -786px;
$-logo-base-offset-y: -1414px;
$-logo-base-width: 357px;
$-logo-base-height: 155px;
$-logo-base-total-width: 2095px;
$-logo-base-total-height: 1768px;
$-logo-base-image: '../images/sprite.png';
$-logo-base: (786px, 1414px, -786px, -1414px, 357px, 155px, 2095px, 1768px, '../images/sprite.png', 'LogoBase', );
$-shadow-box-bottom-name: 'ShadowBox--bottom';
$-shadow-box-bottom-x: 862px;
$-shadow-box-bottom-y: 1569px;
$-shadow-box-bottom-offset-x: -862px;
$-shadow-box-bottom-offset-y: -1569px;
$-shadow-box-bottom-width: 293px;
$-shadow-box-bottom-height: 30px;
$-shadow-box-bottom-total-width: 2095px;
$-shadow-box-bottom-total-height: 1768px;
$-shadow-box-bottom-image: '../images/sprite.png';
$-shadow-box-bottom: (862px, 1569px, -862px, -1569px, 293px, 30px, 2095px, 1768px, '../images/sprite.png', 'ShadowBox--bottom', );
$-shadow-box-tab-left-footer-name: 'ShadowBox--tabLeft--footer';
$-shadow-box-tab-left-footer-x: 1937px;
$-shadow-box-tab-left-footer-y: 1472px;
$-shadow-box-tab-left-footer-offset-x: -1937px;
$-shadow-box-tab-left-footer-offset-y: -1472px;
$-shadow-box-tab-left-footer-width: 113px;
$-shadow-box-tab-left-footer-height: 26px;
$-shadow-box-tab-left-footer-total-width: 2095px;
$-shadow-box-tab-left-footer-total-height: 1768px;
$-shadow-box-tab-left-footer-image: '../images/sprite.png';
$-shadow-box-tab-left-footer: (1937px, 1472px, -1937px, -1472px, 113px, 26px, 2095px, 1768px, '../images/sprite.png', 'ShadowBox--tabLeft--footer', );
$-shadow-box-tab-left-name: 'ShadowBox--tabLeft';
$-shadow-box-tab-left-x: 1381px;
$-shadow-box-tab-left-y: 757px;
$-shadow-box-tab-left-offset-x: -1381px;
$-shadow-box-tab-left-offset-y: -757px;
$-shadow-box-tab-left-width: 19px;
$-shadow-box-tab-left-height: 113px;
$-shadow-box-tab-left-total-width: 2095px;
$-shadow-box-tab-left-total-height: 1768px;
$-shadow-box-tab-left-image: '../images/sprite.png';
$-shadow-box-tab-left: (1381px, 757px, -1381px, -757px, 19px, 113px, 2095px, 1768px, '../images/sprite.png', 'ShadowBox--tabLeft', );
$-shadow-box-tab-right-footer-name: 'ShadowBox--tabRight--footer';
$-shadow-box-tab-right-footer-x: 1824px;
$-shadow-box-tab-right-footer-y: 1472px;
$-shadow-box-tab-right-footer-offset-x: -1824px;
$-shadow-box-tab-right-footer-offset-y: -1472px;
$-shadow-box-tab-right-footer-width: 113px;
$-shadow-box-tab-right-footer-height: 26px;
$-shadow-box-tab-right-footer-total-width: 2095px;
$-shadow-box-tab-right-footer-total-height: 1768px;
$-shadow-box-tab-right-footer-image: '../images/sprite.png';
$-shadow-box-tab-right-footer: (1824px, 1472px, -1824px, -1472px, 113px, 26px, 2095px, 1768px, '../images/sprite.png', 'ShadowBox--tabRight--footer', );
$-shadow-box-tab-right-name: 'ShadowBox--tabRight';
$-shadow-box-tab-right-x: 1362px;
$-shadow-box-tab-right-y: 757px;
$-shadow-box-tab-right-offset-x: -1362px;
$-shadow-box-tab-right-offset-y: -757px;
$-shadow-box-tab-right-width: 19px;
$-shadow-box-tab-right-height: 113px;
$-shadow-box-tab-right-total-width: 2095px;
$-shadow-box-tab-right-total-height: 1768px;
$-shadow-box-tab-right-image: '../images/sprite.png';
$-shadow-box-tab-right: (1362px, 757px, -1362px, -757px, 19px, 113px, 2095px, 1768px, '../images/sprite.png', 'ShadowBox--tabRight', );
$border-box-gadient-name: 'borderBox--gadient';
$border-box-gadient-x: 1738px;
$border-box-gadient-y: 1394px;
$border-box-gadient-offset-x: -1738px;
$border-box-gadient-offset-y: -1394px;
$border-box-gadient-width: 290px;
$border-box-gadient-height: 1px;
$border-box-gadient-total-width: 2095px;
$border-box-gadient-total-height: 1768px;
$border-box-gadient-image: '../images/sprite.png';
$border-box-gadient: (1738px, 1394px, -1738px, -1394px, 290px, 1px, 2095px, 1768px, '../images/sprite.png', 'borderBox--gadient', );
$spritesheet-width: 2095px;
$spritesheet-height: 1768px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-element-img-bg-logo, $-element-img-bg-nav-menu, $-figure-icon-circles-gradient, $-figure-icon-hamburger, $-figure-icon-network, $-figure-icon-newsletter, $-figure-icon-report, $-figure-icon-send, $-figure-icon-trofeu, $-figure-icon-video, $-img-figure-flyer-bi-color, $-img-figure-flyer-vert, $-img-figure-flyer, $-img-figure-left-direction, $-img-figure-main-depoimento-sample-mobile, $-img-figure-main-depoimento-sample, $-img-figure-main-right-direction, $-img-figure-right-direction, $-img-figure-top-left-direction, $-img-figure-top-right-direction, $-intro-name-vignoli, $-logo-base, $-shadow-box-bottom, $-shadow-box-tab-left-footer, $-shadow-box-tab-left, $-shadow-box-tab-right-footer, $-shadow-box-tab-right, $border-box-gadient, );
$spritesheet: (2095px, 1768px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
